{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
	<h1>Rango says...</h1> 
	<div>
		{% if categories %}
			<h3>Most Liked Categories</h3>
			<ul>
				{% for category in categories %}
				<li>
					<a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>There are no categories present.</h3>
		{% endif %}
		<a href="{% url 'add_category' %}">Add a New Category</a><br />
	</div>

	<div>
		{% if pages %}
			<h3>Most Viewed Pages</h3>
			<ul>
				{% for page in pages %}
				<li>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<h3>There are no pages present.</h3>
		{% endif %}
	</div>
	
	<div>
		<img src = "{% static "images/tobbi.jpeg" %} "
			alt = "Picture of Tobbi"/>
	</div>
{% endblock %}
