{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block title %}
	Index
{% endblock %}


{% block body %}
<div class="jumbotron">
	<h1 class="display-3">Rango says...</h1> 
	{% if user.is_authenticated %}
		<h2>Hello, {{ user.username }}</h2>
	{% else %}
		<h2>Hey there partner!</h2>
	{% endif %}
	<p> visits: {{ visits }}</p>
</div>
<div class="row marketing">
	<div class="col-lg-6">
		<h3>Most Liked Categories</h3>
		<p>
		{% if categories %}			
			<ul class="list-group">
				{% for category in categories %}
				<li class="list-group-item">
					<a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		</p>
	</div>

	<div class="col-lg-6">
		<h3>Most Viewed Pages</h3>
		<p>
		{% if pages %}	
			<ul class="list-group">
				{% for page in pages %}
				<li class="list-group-item">
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pages present.</strong>
		{% endif %}
		</p>
	</div>
</div>
<div>
	<img src = "{% static "images/tobbi.jpeg" %}" alt = "Picture of Tobbi"/>
	</div>
{% endblock %}
